<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>myviroapp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2ADF1818F6DF153E20D62FB57FE07FEAD2161127</string>
				<key>dateExpires</key>
				<string>4/13/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2ADF1818F6DF153E20D62FB57FE07FEAD2161127</string>
						<key>dateExpires</key>
						<string>4/13/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ViroKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4J889SV3P4</string>
						<key>name</key>
						<string>Daniel Ryan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4J889SV3P4.com.danielryan.starterkit</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>4J889SV3P4</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>myviroapp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>30b63328-fd2f-4eb6-b21a-b1dff5511701</string>
				<key>dateExpires</key>
				<string>4/13/23</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.danielryan.starterkit</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4J889SV3P4</string>
				<key>name</key>
				<string>Daniel Ryan</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
